<%= form_for @post, html: {id: 'form', class: 'mb-5'} do |f| %>
    <%= f.text_field :title, class: 'w-100 py-2 px-3 mb-3' %>

    <%= f.collection_select :category_id, @categories, :id, :name %>
    <%# FIXME: 수정할 때는 기본 값을 post의 category로 되게끔 해야함. -> 책보고 수정  %>

    <%= tinymce %>
    <div class="tinymce-wrapper">
      <%= f.text_area :content, class: 'tinymce' %>
    </div>

    <div class="btn-wrapper d-flex flex-row justify-content-center mt-4">
      <%= f.submit '저장' %>
      <%= f.submit '임시저장' %>
    </div>
<% end %>
