<section class="posts index container pt-sm-3 pt-md-5">
  <h2 class="sr-only">글 목록</h2>
  <% if user_signed_in? && current_user.id == 1 %>
      <div class="btn-new-post text-right mb-4">
        <%= link_to 'New Post', new_post_path, class: 'py-2 px-3' %>
      </div>
  <% end %>
  <div class="row">
    <% if user_signed_in? && current_user.id == 1 %>
        <% @unpublished_posts.each do |post| %>
            <div class="col-12">
              <%= link_to post_path(post), class: 'post unpublished d-block py-2 px-1' do %>
                  <article class="container">
                    <h4><%= post.title %></h4>
                  </article>
              <% end %>
            </div>
        <% end %>
    <% end %>
    <% @posts.each do |post| %>
        <div class="col-12 my-2">
          <%= link_to post_path(post), class: 'post d-block py-2 px-1' do %>
              <article class="container">
                <h4><%= post.title %></h4>
              </article>
          <% end %>
        </div>
    <% end %>
  </div>
</section>