<section class="posts show container pt-sm-2 pt-md-3">
  <% if user_signed_in? && current_user.id == 1 %>
      <div class="col-12 btn-group d-flex flex-row align-items-center justify-content-end">
        <%= link_to '수정', edit_post_path(@post), class: 'py-1 px-2' %>
        <%= link_to '삭제', post_path(@post), method: :delete, data: {confirm: '삭제하시겠습니까?'}, class: 'py-1 px-2 ml-3' %>
      </div>
  <% end %>
  <div class="row">
    <div class="post-wrapper col-12">
      <h2 class="py-2"><%= @post.title %></h2>
      <hr>

      <!-- Google Adsense start -->
      <div class="d-flex flex-row align-items-center justify-content-center">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-6305028310642713" data-ad-slot="6587660864"></ins>
        <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
      </div>
      <!-- Google Adsense end -->
      
      <p class="times text-right">작성
        : <%= @post.created_at.strftime("%Y.%m.%d %H:%M") %> <%= "수정 : " + @post.updated_at.strftime("%Y.%m.%d %H:%M") if @post.updated_at != @post.created_at %></p>
      <div class="post-content py-2">
        <%= content_tag :div, @post.content.html_safe %>
      </div>

      <!-- Google Adsense start -->
      <div class="d-flex flex-row align-items-center justify-content-center">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-6305028310642713" data-ad-slot="6587660864"></ins>
        <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
      </div>
      <!-- Google Adsense end -->

      <div class="comment-wrapper">
        <div class="d-flex flex-row align-items-center justify-content-between">
          <span>댓글 <span id="comment-count"><%= @post.comments.length %></span>개</span>
        </div>
        <hr>
        <div class="comments">
          <% @post.comments.each do |comment| %>
              <div class="comment comment_<%= comment.id %> ">
                <div class="d-flex flex-row justify-content-between">
                  <div>
                    <span class="user pr-2"><%= comment.user.email %></span>
                    <span class="time"><%= comment.created_at.strftime("%Y.%m.%d %H:%M") %></span>
                  </div>
                  <% if user_signed_in? && current_user.id == comment.user_id %>
                      <div>
                        <%= link_to post_edit_comment_path(@post, comment), method: :get, remote: true do %>
                            <span class="btn">수정</span>
                        <% end %>
                        <%= link_to post_comment_path(@post, comment), method: :delete, remote: true, data: {confirm: '댓글을 삭제하시겠습니까?'} do %>
                            <span class="btn">삭제</span>
                        <% end %>
                      </div>
                  <% end %>
                </div>
                <div class="content">
                  <%= comment.content %>
                </div>
                <hr>
              </div>
          <% end %>
        </div>

        <% if user_signed_in? %>
            <%= form_for @post.comments.build, url: post_comments_path(@post), method: :post, remote: true, html: {class: 'py-2 d-flex flex-row'} do |f| %>
                <%= f.text_area :content, class: 'w-100 px-3 py-2 comment-textarea' %>
                <%= f.submit '등록', class: 'px-2' %>
            <% end %>
        <% else %>
            <div class="not-signed-in d-flex justify-content-center align-items-center px-4 py-3 my-3">
              로그인한 유저만 댓글을 달 수 있습니다.
            </div>
        <% end %>
      </div>
    </div>
  </div>
</section>